include LICENSE
include README.md
include pyproject.toml
include scripts/*.py
recursive-include scripts *.py

recursive-include ppar *.py
recursive-include ppar py.typed
recursive-include ppar/setup_templates *.csv *.yaml *.md *.py

prune tests

global-exclude .DS_Store
global-exclude *.py[cod]
global-exclude __pycache__
