include LICENSE
include README.md
include pyproject.toml
include scripts/*.py

recursive-include ppar *.py
recursive-include ppar py.typed
recursive-include ppar/demo_data *.csv *.yaml *.md

prune images
prune tests

global-exclude .DS_Store
global-exclude *.py[cod]
global-exclude __pycache__
